<div class="page-container">
  <div class="row my-5 py-5">
    <div class="col-4">
      <h1>Our Top Dogs</h1>
      <p>Find Your Perfect Canine Companion with Dog 4 a Day - Bringing Joy and Pawsitivity to Your Life!</p>
    </div>
    <div class="col-8" data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

    </div>
  </div>

<div class="card-list">
  <%# <div class="container">
    <div class="row"> %>
      <% @dogs.each do |dog| %>
        <%= link_to dog_path(dog), class: 'text-decoration-none' do %>
          <div class= "card-item padding-card">
            <% if dog.photo.attached? %>
              <%= cl_image_tag dog.photo.key %>
            <% else %>
              <%= image_tag "https://images.unsplash.com/photo-1566710582818-d673dc761201?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>
            <% end %>
            <div class="card-title">
              <h2 class="uppercase-text"><%= dog.name %></h2>
              <div class="card-sub-title">
                <h3>Age: <%= dog.age %></h3>
                <h3><%= dog.breed %></h3>
              </div>
            </div>
            <p><%= dog.description %></p>
            <button class="card-btn" href="#">Woofing pick me</button>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
</div>

</div>
