<div class="page-container">
<div class="form-container">
<h1>Create your dog</h1>
<p class="pb-5">Fill in the form to add your dog to the system</p>
<%= simple_form_for(@dog) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :age %>
    <%= f.input :breed %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
  </div>
  <div class="form-actions">
<div class="submit-btn-container">
  <%= f.submit "Submit", class: "submit-btn" %>
</div>
  </div>
<% end %>
<%= link_to dogs_path do %>
  <i class="fa-solid fa-arrow-left"></i>
  Back to All Dogs
<% end %>
 </div>
 </div>
