
<div class="page-container">
<div class="dog-profile-container">
<%= link_to dogs_path do %>
  <i class="fa-solid fa-arrow-left"></i>
  Back to All Dogs
  <% end %>
  <div class="dog-profile">
    <div class="profile-header">
      <% if @dog.photo.attached? %>
        <%= image_tag @dog.photo, alt: @dog.name, class: "profile-picture" %>
      <% else %>
        <img src="https://via.placeholder.com/150" alt="Placeholder image" class="profile-picture">
      <% end %>
      <div class="profile-description">
        <h1><%= @dog.name %></h1>
        <div class="dog-details">
          <p>Age: <%= @dog.age %></p>
          <p>Breed: <%= @dog.breed %></p>
          <p><%= @dog.description %></p>
          <div class="tag-list">
            <p>Tags: <span class="tag-item"><%= @dog.tag_list.join(" , ") %></span></p>
          </div>
        </div>
      </div>
    </div>



    <div class="gallery mt-4">
      <h3>Photo Gallery</h3>

      <% if @dog.images.attached? %>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <% @dog.images.each_with_index do |image, index| %>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>" aria-current="<%= 'true' if index == 0 %>" aria-label="Slide <%= index + 1 %>"></button>
            <% end %>
          </div>
          <div class="carousel-inner">
            <% @dog.images.each_with_index do |image, index| %>
              <div class="carousel-item <%= 'active' if index == 0 %>">
                <%= image_tag image, class: "d-block w-100" %>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <% end %>
    </div>
    <div data-controller="toggle" class="mt-5">
      <button data-action="click->toggle#fire" class=" btn-white">Book this dog</button>
        <div data-toggle-target="togglableElement" class="d-none">
          <%= render 'bookings/form', dog: @dog, booking: @booking %>
        </div>
    </div>

  </div>
</div>
</div>
