
<div class="page-container">
<%= link_to dogs_path do %>
  <i class="fa-solid fa-arrow-left"></i>
  Back to All Dogs
  <% end %>
  <div class="dog-profile">
    <div class="profile-header">
      <% if @dog.photo.attached? %>
        <%= image_tag @dog.photo, alt: @dog.name, class: "profile-picture" %>
      <% else %>
        <img src="https://via.placeholder.com/150" alt="Placeholder image" class="profile-picture">
      <% end %>
      <div class="profile-description">
        <h1><%= @dog.name %></h1>
        <div class="dog-details">
          <p>Age: <%= @dog.age %></p>
          <p>Breed: <%= @dog.breed %></p>
          <p><%= @dog.description %></p>
        </div>
      </div>
    </div>
  <div data-controller="toggle" class="mt-5">
    <button data-action="click->toggle#fire" class="btn btn-outline-primary">Book this dog</button>
      <div data-toggle-target="togglableElement" class="d-none">
        <%= render 'bookings/form', dog: @dog, booking: @booking %>
      </div>
  </div>
  </div>
</div>
