<h1> <%= @dog.name %> </h1>
<p> <%= @dog.age %> </p>
<p> <%= @dog.breed %> </p>
<p> <%= @dog.description %> </p>

<%= link_to "Edit this dog", edit_dog_path(@dog) %> |
<%= link_to "Back to dog", dogs_path %>

<%= button_to "Destroy this dog", @dog, method: :delete %>
