<% if bookings.any? %>
  <% bookings.order(created_at: :desc).each do |booking| %>
    <div class="booking-container d-flex flex-row justify-content-start">
      <div class="row w-100">
        <div class="col-2">
          <div class="date-group">
            <p><strong><%= booking.start_time.strftime("%a").upcase %></strong></p>
            <h2 class="date-weight"><%= booking.start_time.strftime("%d") %></h2>
          </div>
        </div>
        <div class="col-7">
          <div class="time-location-group">
            <p><i class="fa-solid fa-clock"></i><%= booking.start_time.strftime("%d/%m/%Y at %I:%M%p") %> <%= booking.end_time.strftime(" to %d/%m/%Y at %I:%M%p") %></p>
            <p><i class="fa-solid fa-location-dot"></i><%=booking.user.address %></p>
          </div>
        </div>
        <%# <div class="col-4">
        </div> %>
        <div class="col-3">
          <div class="renter-details-group d-flex">
            <% dog = booking.dog %>
            <% if dog.photo.attached? %>
              <%= image_tag dog.photo, class: "avatar-tiny" %>
            <% else %>
              <%= image_tag "default_dog_image.jpg", class: "avatar-tiny" %>
            <% end %>
            <p><%= booking.dog.name %> <%= booking.status %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
<div class="booking-container-past mt-5">
  <h2>No bookings!</h2>
  </div>
<% end %>
