<h1>Bookings</h1>

<%= simple_form_for  [@dog, @booking] do |f| %>
  <%= f.input :start_time, as: :time, label: 'Start Time' %>
  <%= f.input :end_time, as: :time, label: 'End Time'%>
  <%= f.input :date, label: 'Booking Date' %>
  <%= f.input :status, collection: ['Pending', 'Approved', 'Declined', 'Completed'] %>
  <%= f.button :submit, class: "btn btn-primary"%>
<% end %>
