<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <img src="https://images.unsplash.com/photo-1537151625747-768eb6cf92b2?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGRvZ3xlbnwwfHwwfHx8MA%3D%3D" class="navbar-logo">
    <% end %>
    <div class="nav-item name">
      <%= link_to "Dg 4 a day", dogs_path, class: "nav-link-title" %>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", dogs_path, class: "nav-link" %>
          </li>
           <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } %>
            <% else %>
              <%= image_tag "avatar_placeholder.webp", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="<%= destroy_user_session_path %>" data-turbo-method="delete">Log out</a>
            </div>
          </li>
          <li class="nav-item">
            <% if current_user %>
              <%= link_to "Welcome, #{current_user.first_name}", dashboard_path, class: "nav-link" %>
            <% else %>
              <%= link_to "Welcome", "#", class: "nav-link" %>
            <% end %>
          </li>

          <li class="nav-item"> <!-- Added custom class -->
            <%= link_to 'Register a new dog', new_dog_path, class: 'btn-white align-middle' %> <!-- Added custom class -->
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link btn btn-ghost" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
