<div class="page-container pt-5">
  <div class="dashboard-container">
    <div class="row">
      <div class="col-6 col-md-4">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "profile-avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } %>
        <% else %>
          <%= image_tag "avatar_placeholder.webp", class: "profile-avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } %>
        <% end %>
        <div class="profile-copy">
          <h2>Hi, <%= current_user.first_name %></h2>
          <p>This is your profile page</p>
          <div class="mt-3">
            <%= link_to 'Register a new dog', new_dog_path, class: 'btn-ghost' %>
          </div>
          <% if current_user.dogs.any? %>
            <p class="pt-4">These are the dogs that you currently have on file</p>
          <% else %>
            <p class="pt-4">You don't have any dogs on file</p>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-8">
        <div class="personal-card-list">
          <% if current_user.dogs.any? %>
            <% current_user.dogs.each do |dog| %>
              <div class="personal-card-item padding-card">
                <div class="d-flex align-items-end flex-column mb-4">
                  <%= link_to "Delete profile", dog, class: "btn-ghost float-right", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this dog?" }, "turbo-frame": "_top" %>
                </div>
                <% if dog.photo.attached? %>
                  <%= image_tag dog.photo, class: "dog-photo" %>
                <% else %>
                  <%= image_tag "https://images.unsplash.com/photo-1566710582818-d673dc761201?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", class: "dog-photo" %>
                <% end %>
                <div class="personal-card-title">
                  <h2 class="uppercase-text"><%= dog.name %></h2>
                  <div class="personal-card-sub-title">
                    <h3>Age: <%= dog.age %></h3>
                    <h3><%= dog.breed %></h3>
                  </div>
                </div>
                <div class="d-flex gap-3 mt-2 hover-link">
                  <%= link_to "See profile", dog_path(dog) %>
                  <%= link_to "Edit", edit_dog_path(dog) %>
                </div>
              </div>
            <% end %>
          <% else %>
            <p class="pt-4">You don't have any dogs on file</p>
          <% end %>
        </div>
      </div>
    </div>






 <div data-controller="toggle">
<button  data-action= "click->toggle#fire">
My dog's booking requests +
</button>
<div class= "d-none" data-toggle-target="togglableElement">
<ul>
    <% current_user.bookings_as_owner.order(created_at: :desc).each do |booking| %>
      <li>
        <%= booking.dog.name %> <%= booking.start_time %>
         <% if booking.status == "Pending" %>
          <%= simple_form_for [booking.dog, booking] do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'Approved'} %>
            <%= f.submit 'Accept', class: 'btn btn-info' %>
          <% end %>
          <%= simple_form_for [booking.dog, booking] do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'Declined'} %>
            <%= f.submit 'Reject', class: 'btn btn-light' %>
          <% end %>
        <% else %>
          <p class='booking-tag'><%= booking.status %></p>
 <% end %>
      </li>
    <% end %>
</div>
</div>

<div data-controller="tab" class="mt-5">
  <button data-tab-target="activeBookingsBtn" data-action="click->tab#toggleActive" class="btn-white">Bookings</button>
  <button data-tab-target="pastBookingsBtn" data-action="click->tab#togglePast" class="btn-ghost">Past Bookings</button>

  <div data-tab-target="activeBookings" class="mt-3">
    <%= render "bookings/bookings", bookings: @bookings %>
  </div>
  <div data-tab-target="pastBookings" class="d-none mt-3">
    <%= render "bookings/bookings", bookings: @past_bookings %>
  </div>
</div>





      </div>
  </div>
  </div>
</div>
</div>
</div>

