
<h2>
My dogs
</h2>
<ul>
    <% current_user.dogs.each do |dog| %>
  <li>
      <%= link_to dog.name, dog_path(dog) %>
      <div>
  <%= link_to "Edit this dog", edit_dog_path(dog) %>
  <%= button_to "un-list this dog", dog, method: :delete, class: 'btn btn-danger'%>
</div>
  </li>
    <% end %>
</ul>
<%= link_to 'register a new dog', new_dog_path, class: 'btn btn-primary btn-lg shadow-lg custom-button' %>

<h2>
My bookings
</h2>
<ul>
    <% current_user.bookings.order(created_at: :desc).each do |booking| %>
  <li>
      <%= booking.dog.name %> <%= booking.start_time.strftime("booked for %m/%d/%Y at %I:%M%p") %> <%= booking.status %>
  </li>
    <% end %>
</ul>

 <h2>
 My dog's booking requests
</h2>
<ul>

    <% current_user.bookings_as_owner.order(created_at: :desc).each do |booking| %>
      <li>
        <%= booking.dog.name %> <%= booking.start_time %>
         <% if booking.status == "Pending" %>
          <%= simple_form_for [booking.dog, booking] do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'Approved'} %>
            <%= f.submit 'Accept', class: 'btn btn-info' %>
          <% end %>
          <%= simple_form_for [booking.dog, booking] do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'Declined'} %>
            <%= f.submit 'Reject', class: 'btn btn-light' %>
          <% end %>
        <% else %>
          <p class='booking-tag'><%= booking.status %></p>
 <% end %>
      </li>
    <% end %>
